
#Modalimage{
  max-height:800px;
  max-width: 100%;
}

.form-wrapper{
  padding: 50px;
  max-width: 500px;
}

#CommentsId{
  height: 100px;

}

#ContactTitle{
  padding-left: 50px
}

@media (min-width: 1200px){
  .container {
      max-width: 1400px !important;
  }
  }
  #ContactText{
    padding-left: 50px
  }
@media (min-width: 992px) {
.fixed-top-right{
  position: fixed;
  left: 17rem;
top: 0;
right: 0;
z-index: 1030
}
}

.social-icons-contact{
  padding: 50px;
}
